# Data Science Tools and Ecosystem

___In this notebook, Data Science Tools and Ecosystem are summarized___

**Some of the popular languages that Data Scientists use are:**
1. python
2. R
3. SQL
4. scala
5. julia
6. java
7. matlab

**Some of the commonly used libraries used by Data Scientists include:**
- Numpy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- SciPy
- PyTorch

| ***Data Science Tools*** |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# Addition
3 + 4

7

In [6]:
# Division
15 / 3

5.0

In [7]:
# Exponent
2 ** 4

16

In [8]:
# Modulus
17 % 3

2

In [9]:
# Mixed expression
(3 + 5) * 2 - 4 / 2

14.0

In [4]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [10]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used Data Science libraries  
- Create and format markdown tables  
- Perform basic arithmetic expressions in Python  
- Convert uni

## Author
Salika Kotval